<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>

</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1>Tolkien Dwarves</h1>
<h2>The Company of Thorin</h2>
<br />

</div>


<div class="container">

 <table class="table table-striped">
   <thead>
     <tr>
       <th>Name</th>
       <th>Picture</th>
     </tr>
   </thead>
   <tbody>
	   <tr th:each="dwarf : ${dwarfs}">
		   <td th:text="${dwarf.name}">Torin</td>
		   <td><img src="../static/Thorin.png" th:src="@{/} + ${dwarf.image}" width="100" height="150" /></td>
	   </tr>
   </tbody>
</table>
</div>




</body>
</html>