<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">

		<h1 th:text="${cereal.name}">Cornflakes</h1>
		<h4 th:text="${cereal.manufacturer}">Kellogs</h4>
		<br />
	</div>


	<div class="container">


		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nutrition</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Energy</td>
					<td th:text="${cereal.energy}">1580</td>
				</tr>
				<tr>
					<td>Calories</td>
					<td th:text="${cereal.calories}">372</td>
				</tr>
				<tr>
					<td>Protein</td>
					<td th:text="${cereal.protein}">7</td>
				</tr>
				<tr>
					<td>Carbohydrate</td>
					<td th:text="${cereal.carbohydrate}">84</td>
				</tr>
				<tr>
					<td>Sugars</td>
					<td th:text="${cereal.sugars}">8</td>
				</tr>
				<tr>
					<td>Fat</td>
					<td th:text="${cereal.fat}">0.9</td>
				</tr>
				<tr>
					<td>Saturates</td>
					<td th:text="${cereal.saturates}">0.2</td>
				</tr>
				<tr>
					<td>Fibre</td>
					<td th:text="${cereal.fibre}">3</td>
				</tr>
				<tr>
					<td>Sodium</td>
					<td th:text="${cereal.sodium}">0.7</td>
				</tr>
				<tr>
					<td>Salt</td>
					<td th:text="${cereal.salt}">NA</td>
				</tr>
				<tr>
					<td>Iron</td>
					<td th:text="${cereal.iron}">8</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>