<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">

    <title th:text="${pageTitle}">Layout Generic Title</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
</head>
<body>
<!-- Nav -->
<nav class="navbar navbar-expand-sm bg-light" th:fragment="navFragment">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/page1/">Page1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/page2/">Page2</a>
    </li>
  </ul>
</nav>

<!-- Jumbotron -->

<div class="jumbotron text-center">

<h1>Titanic</h1>
<p>Events recently posted to the Belfast City Council Website</p>

</div>

<!-- Page Content -->
<div class="container">

 <table class="table table-striped">
   <thead>
     <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Sex</th>
       <th>Age</th>
       <th>Ticket</th>
       <th>Fare</th>
       <th>Cabin</th>
     </tr>
   </thead>
   <tbody>
      <tr th:each="passenger : ${passengers}">
      <td th:text="${passenger.PassengerId}">ID</td>
       <td th:text="${passenger.Name}">Name</td>
       <td th:text="${passenger.Sex}">Sex</td>
       <td th:text="${passenger.Age}">Age</td> 
       <td th:text="${passenger.Ticket}">Ticket</td>
       <td th:text="${passenger.Fare}">Fare</td>
       <td th:text="${passenger.Cabin}">Cabin</td>
     </tr>
   </tbody>
 </table>
</div>


<!-- Footer -->

<div th:fragment="footerFragment">
  &copy; Brian Douglas 2017
</div>
</body>

</html>





