<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1 th:text="${pageTitle}">City</h1>
<h2>Weather for City</h2>
<br />

</div>
<div class="alert alert-success" role="alert" th:if="${message}">
	<p th:text="${message}"></p>
</div>

<div class="container">


 <table class="table table-striped">
   <thead>
     <tr>
       <th>City</th>
       <th>Weather</th>
       <th>Temperature</th>
       <th>Image</th>
     </tr>
   </thead>
   <tbody>
	   <tr>
		   <td th:text="${todaysWeather.location.name}">City Name</td>
		   <td th:text="${todaysWeather.weather.description}">Weather Description</td>		   
		   <td th:text="${todaysWeather.weather.temperature}">Temperature</td>
		   <td><img src="" th:src="${todaysWeather.weather.image}" /></td>
	   </tr>
   </tbody>
</table>


</div>




</body>
</html>