
<nav class="navbar navbar-inverse" style="padding-right:210px;padding-left:200px"  th:fragment="navFragment">
		<div class="container-fluid">
			
		
			
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">Home</a></li>
				<li><a href="/beneficiaries">Beneficiaries</a></li>
					
			
			</ul>
					 <form class="navbar-form navbar-right" action="/justforshowusethefiltersearch">
      <div class="input-group">
        <input type="text" id="#myInput" class="form-control" placeholder="Search" name="search" />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
			
		
			
		</div>
	</nav>