<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>

<div class="jumbotron text-center">

<h1 th:text="'Weather for ' + ${city}">Weather for City</h1>
<h2></h2>
<br />

</div>


<div class="container">


<p th:text='${weatherAPI.location.name}'></p>




</div>

</body>
</html>