<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">

<title th:text="${pageTitle}">Layout Generic Title</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
</head>

<body>


	<!-- Nav ------------------ -->
	<nav class="navbar navbar-expand-sm bg-light" th:fragment="navFragment">

		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/page1/">Page1</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/page2/">Page2</a>
			</li>

		</ul>

	</nav>

	<!-- Jumbotron ------------------ -->

	<div class="jumbotron text-center">

		<h1 th:text="${event.title}">Events Title</h1>
		<p>Recent Event</p>

	</div>

	<!-- Page Content ------------------ -->
	<div class="container">


		<p th:text=${event.title}>Name</p>
		<p th:text="${#dates.format(event.startDate, 'dd/MM/yyyy')}">31/12/2017</p>
		<p th:text="${#dates.format(event.endDate, 'dd/MM/yyyy')}">31/12/2017</p>
		<p th:text="${event.time}">Time</p>

		<div th:switch="${event.venueUrl}">
			<p th:case="''" th:text="${event.venue}">Venue has no link</p>
			<p th:case="*">
				<a href="" th:href="${event.venueUrl}" th:text=${event.venue}
					target=_blank>Venue has a link</a>
			</p>
		</div>

		<!-- <a href='${event.venueUrl'>${event.venue}</a> : ${event.venue}"> -->
		<p th:text="${event.cost}">Cost</p>
		<p th:text="${event.audience}">Audience</p>
		<p th:text="${event.theme}">Theme</p>
		<p th:utext="${event.content}">Content</p>
		<p th:text="${event.time}">Time</p>

		<div th:switch="${event.image}">
			<p th:case="''">
				<!-- No Image to show -->
			</p>
			<p th:case="*">
				<img src="" th:attr="src=${event.image}" />
			</p>
		</div>


	</div>
	<!-- Footer ------------------ -->

	<div th:fragment="footerFragment">&copy; Brian Douglas 2017</div>
</body>

</html>





