<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">

		<h1 th:text="${pageTitle} + ' ' + Dwarfs">Disney Dwarfs</h1>
		<h2></h2>
		<br />

	</div>


	<div class="container">


		<form class="form-horizontal" th:action="@{/save}" method="post">
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Column</th>
					<th>Value</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dwarf Id</td>
					<td><input type="text" readonly="readonly"  th:field="${dwarf.dwarfId}"></input></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" class="form-control" th:field="${dwarf.name}"></input>
						<span th:if="${#fields.hasErrors('dwarf.name')}" th:errors="${dwarf.name}" 
						th:class="fieldError">Name cannot be empty</span>
					</td>
				</tr>
				<tr>
					<td>Author</td>
					<td><input type="text" class="form-control" th:field="${dwarf.author}"></input></td>
					
				</tr>
				<tr>
					<td>Image</td>
					<td><input type="text" class="form-control" th:field="${dwarf.image}"></input></td>
				</tr>
			</tbody>
		</table>
		<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</body>
</html>