<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">beneficiaries</title>
<style>
html{overflow-y: scroll;}
th, tr {text-align:center;}
</style>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</head>
<body>
<div class="container-fluid" style="background-color: silver; height:100px; padding-top:10px">
<h1 align="center">Beneficiaries</h1>
</div>

<nav th:replace="layout/nav :: navFragment"></nav>
	
		
<br /><br />	

	<div class="container">
	<input class="form-control" id="myInput" type="text" placeholder="Search..." />
<br />	
		<div class="alert alert-success" role="alert" th:if="${message}">
			<p th:text="${message}"></p>
		</div>

		<table class="table table-striped">

			<tr>
				<th>Beneficiary ID</th>
				<th>Beneficiary Name</th>
				
				<th>Links (View Edit Delete)</th>
			</tr>
			<tbody id="myTable">
				<tr th:each="beneficiary : ${er}">
					<td th:text="${beneficiary.beneficiaryId}"></td>
					<td th:text="${beneficiary.name}"></td>

					<td><a href="#"
						th:href="@{beneficiaries/view/} + ${beneficiary.beneficiaryId}">View</a>
						<a href="#"
						th:href="@{beneficiaries/edit/} + ${beneficiary.beneficiaryId}">Edit</a>
						<a href="#"
						th:href="@{beneficiaries/delete/} + ${beneficiary.beneficiaryId}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="/beneficiaries/add" role="button">Add New</a> 
	</div>

</body>
</html>