<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1>Titanic Data</h1>
<h2></h2>
<br />

</div>


<div class="container">

<form action="/passengers/search" method="POST" id="searchForm">
	<select class="col-sm-2" form="searchForm" name="searchField">
		<option value="name">Name</option>
		<option value="embarked">Embarked</option>
		<option value="passengerClass">Passenger Class</option>
	</select>
	<input type="text" class="col-sm-6" name="searchString" form="searchForm"></input>
	<button type="submit" value="search" form="searchForm" 
		class="btn btn-primary col-sm-2">Search</button>
</form>

<br />


 <table class="table table-striped">
   <thead>
     <tr>
       <th>Name</th>
       <th>Class</th>
       <th>Survived</th>
     </tr>
   </thead>
   <tbody>
	   <tr th:each="passenger : ${passengers}">
		   <td th:text="${passenger.name}">John Doe</td>
		   <td th:text="${passenger.pclass}">2</td>
		   <td th:text="${passenger.survived}">1</td>
	   </tr>
   </tbody>
</table>
</div>




</body>
</html>