<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">

		<h1 th:text="${pageTitle} + ' ' + Dwarfs">Disney Dwarfs</h1>
		<h2></h2>
		<br />

	</div>


	<div class="container">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Column</th>
					<th>Value</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dwarf Id</td>
					<td th:text="${dwarf.dwarfId}"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td th:text="${dwarf.name}"></td>
				</tr>
				<tr>
					<td>Author</td>
					<td th:text="${dwarf.author}"></td>
				</tr>
				<tr>
					<td>Image</td>
					<td th:text="${dwarf.image}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>