<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1 th:text="${pageTitle} + ' Dwarfs'">All Dwarfs</h1>
<h2></h2>
<br />

</div>


<div class="container">

<div class="alert alert-success" role="alert" th:if="${message}">
	<p>Successfully Deleted Dwarf</p>
</div>

<p>
	<a href="#" th:href="@{/add/}">Add new dwarf</a><br />
</p>
 <table class="table table-striped">
   <thead>
     <tr>
       <th>Name</th>
       <th>Picture</th>
       <th>CRUD</th>
     </tr>
   </thead>
   <tbody>
	   <tr th:each="dwarf : ${dwarfs}">
		   <td th:text="${dwarf.name}">Sleepy</td>
		   <td><img src="../static/Sleepy.png" th:src="@{/} + ${dwarf.image}" width="100" height="150" /></td>
	   		<td><a href="#" th:href="@{/view/} + ${dwarf.dwarfId}">View</a><br />
	   		<a href="#" th:href="@{/edit/} + ${dwarf.dwarfId}">Edit</a><br />
	   		<a href="#" th:href="@{/delete/} + ${dwarf.dwarfId}">Delete</a></td>
	   </tr>
   </tbody>
</table>
<p>
	<a href="#" th:href="@{/add/}">Add new dwarf</a><br />
</p>

</div>




</body>
</html>