<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1>Dwarfs</h1>
<h2></h2>
<br />

</div>


<div class="container">

 
<p><a href="/disney/">Disney Dwarfs</a></p>
<p><a href="/tolkien/">Tolkien Dwarfs</a></p>


<form action="/searchid" method="get">
	<label>ID</label>
	<input type="text" name="id"></input>
	<input type="submit" value="Search"></input>
</form>

<form action="/searchname" method="post">
	<label>Name</label>
	<input type="text" name="name"></input>
	<input type="submit" value="Search"></input>
</form>

<form action="/searchauthor" method="get">
	<label>Author</label>
	<input type="text" name="author"></input>
	<input type="submit" value="Search"></input>
</form>

<form action="/searchnameauthor" method="get">
	<label>Name</label>
	<input type="text" name="name"></input>
	<label>Author</label>
	<input type="text" name="author"></input>
	<input type="submit" value="Search"></input>
</form>




</div>


</body>
</html>