<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">

		<h1 th:text="${pageTitle}">Edit Passenger</h1>
		<h2></h2>
		<br />

	</div>


	<div class="container">


		<form class="form-horizontal" th:action="@{/titanic/save}" method="post">
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Column</th>
					<th>Value</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Passenger Id</td>
					<td><input type="text" readonly="readonly"  th:field="${passenger.passengerId}"></input></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" class="form-control" th:field="${passenger.name}"></input>
					</td>
				</tr>
				<tr>
					<td>Age</td>
					<td><input type="text" class="form-control" th:field="${passenger.age}"></input></td>
				</tr>
				<tr>
					<td>Cabin</td>
					<td><input type="text" class="form-control" th:field="${passenger.cabin}"></input></td>
				</tr>
				<tr>
					<td>Embarked</td>
					<td><input type="text" class="form-control" th:field="${passenger.embarked}"></input></td>
				</tr>
				<tr>
					<td>Fare</td>
					<td><input type="text" class="form-control" th:field="${passenger.fare}"></input></td>
				</tr>
				<tr>
					<td>Parch</td>
					<td><input type="text" class="form-control" th:field="${passenger.parch}"></input></td>
				</tr>
				<tr>
					<td>Passenger Class</td>
					<td><input type="text" class="form-control" th:field="${passenger.pclass}"></input></td>
				</tr>
				<tr>
					<td>Sex</td>
					<td><input type="text" class="form-control" th:field="${passenger.sex}"></input></td>
				</tr>
				<tr>
					<td>Sib Sp</td>
					<td><input type="text" class="form-control" th:field="${passenger.sibsp}"></input></td>
				</tr>
				<tr>
					<td>Survived</td>
					<td><input type="text" class="form-control" th:field="${passenger.survived}"></input></td>
				</tr>
				<tr>
					<td>Ticket</td>
					<td><input type="text" class="form-control" th:field="${passenger.ticket}"></input></td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" id="addUpdate" name="addUpdate" th:value="${pageTitle}" />
		
		<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</body>
</html>