<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1 th:text="${pageTitle}">All Passengers</h1>
<h2></h2>
<br />

</div>


<div class="container">

<div class="alert alert-success" role="alert" th:if="${message}">
	<p>Successfully Deleted Passenger</p>
</div>

<p>
	<a href="#" th:href="@{/titanic/add/}">Add new passenger</a><br />
</p>
 <table class="table table-striped">
   <thead>
     <tr>
       <th>Name</th>
       <th>Picture</th>
       <th>CRUD</th>
     </tr>
   </thead>
   <tbody>
	   <tr th:each="passenger : ${passengers}">
	   	   <td th:text="${passenger.passengerId}"></td>
		   <td th:text="${passenger.name}"></td>
		   <td th:text="${passenger.age}"></td>
		   <td th:text="${passenger.embarked}"></td>
		   <td th:text="${passenger.fare}"></td>
		   <td th:text="${passenger.pclass}"></td>
		   <td th:text="${passenger.sex}"></td>
		   <td th:text="${passenger.survived}"></td>

	   		<td><a href="#" th:href="@{/titanic/view/} + ${passenger.passengerId}">View</a><br />
	   		<a href="#" th:href="@{/titanic/edit/} + ${passenger.passengerId}">Edit</a><br />
	   		<a href="#" th:href="@{/titanic/delete/} + ${passenger.passengerId}">Delete</a></td>
	   </tr>
   </tbody>
</table>
<p>
	<a href="#" th:href="@{/titanic/add/}">Add new dwarf</a><br />
</p>

</div>




</body>
</html>