<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">

		<h1 th:text="${pageTitle}"></h1>
		<h2></h2>
		<br />

	</div>


	<div class="container">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Column</th>
					<th>Value</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Passenger Id</td>
					<td th:text="${passenger.passengerId}"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td th:text="${passenger.name}"></td>
				</tr>
				<tr>
					<td>Age</td>
					<td th:text="${passenger.age}"></td>
				</tr>
				<tr>
					<td>Cabin</td>
					<td th:text="${passenger.cabin}"></td>
				</tr>
				<tr>
					<td>Embarked</td>
					<td th:text="${passenger.embarked}"></td>
				</tr>
				<tr>
					<td>Fare</td>
					<td th:text="${passenger.fare}"></td>
				</tr>
				<tr>
					<td>Parch</td>
					<td th:text="${passenger.parch}"></td>
				</tr>
				<tr>
					<td>Passenger Class</td>
					<td th:text="${passenger.pclass}"></td>
				</tr>
				<tr>
					<td>Sex</td>
					<td th:text="${passenger.sex}"></td>
				</tr>
				<tr>
					<td>Sib Sp</td>
					<td th:text="${passenger.sibsp}"></td>
				</tr>
				<tr>
					<td>Survived</td>
					<td th:text="${passenger.survived}"></td>
				</tr>
				<tr>
					<td>Ticket</td>
					<td th:text="${passenger.ticket}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>